@using RBP.Web.Utils
@model AccountSecretsViewModel

<div class="w-100 h-100 p-2" style="display: flex; flex-direction: column;">
    <header>
        <h3>@Model.PageTitle</h3>
    </header>
    <main style="flex: 1; overflow-y: visible; overflow-x: hidden;">
        <form class="py-2 employee-data">
            @Html.AdaptivePrefixTextBox(
                name: nameof(Model.Secrets.Phone),
                label: "Номер телефона",
                prefix: "+7",
                value: Model.Secrets.Phone
            )

            @Html.AdaptiveTextBox(
                name: nameof(Model.Secrets.Password),
                label: "Пароль",
                value: Model.Secrets.Password
            )

            <div class="card error-message border-danger mt-0 mb-2">
                <div class="card-body text-danger px-3 py-1">
                    <p class="card-text small">Скопируйте данные и передайте их пользователю</p>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <button class="btn btn-primary btn-block" onclick="navigator.clipboard.writeText($('#Phone').val() + '\n' + $('#Password').val())">Копировать</button>
    </footer>
</div>
